

#header {
	background-image:url(../image/head.jpg);
	background-size: 100%;
   	color:white;
   	text-align:center;
   	padding:5px;
    		
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    width:200px;
    height: 500px;
    float:left;
    padding:5px;
    margin-left: 20%;	      
}
#section {
	background-image: url(../image/bg.jpg);
	background-size: 100%;
    width:800px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-image: url(../image/foot.jpg);
    background-size: 100%;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}