#Home a {
	font-size: 25px;
	color: white;
}
#Home a:link,a:visited {	
	text-decoration:none;
}
#Home a:hover {
	text-decoration:underline;
}
#Login {
	float: right;
	margin-right: 20px;
}
#Login a {
	color: white;
}
#Login a:link,a:visited {	
	text-decoration:none;
}
#Login a:hover {
	text-decoration:underline;
}
#header {
	background-image:url(skin/header-bg.png);
	background-size: 100%,100%;
	height: 50px;
   	padding:5px;  		
}
#search {
	background-image: url(skin/blue-bg.jpg);
	background-size: 100%;
	height: 150px;
	padding-left: 35%;
}

#searchPlace {
	margin-top: 50px;
	height: 32px;
	width: 500px;
}
#searchButton {
	height: 32px;
	width: 100px;
	color: blue;
	background-color: red;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    width:200px;
    height: 500px;
    float:left;
    padding:5px;
    margin-left: 12%;	      
}

#nav a {
	font-size: 20px;
	color: blue;
}
#nav a:link,a:visited {	
	text-decoration:none;
}
#nav a:hover {
	text-decoration:underline;
}
#section {
	background-image: url(../image/bg.jpg);
	background-size: 100%;
    width:1200px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-image: url(skin/footer-bg.png);
    background-size: 100%;
    clear:both;
    height: 50px;
    text-align:center;
    padding:5px;	 	 
}

#footer p{
	font-size: 15px;
	color: black;
}